

.home {
  background-color:#FFF8E7;
  margin: 0;
  padding: 6rem;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
}


.title1 {
  font-size: 1.4rem;
  color: #4B3B2F;
  font-weight: 500;
  padding: 0rem 2rem;
  margin: 0rem;
}

.title2 {
  font-size: 2.4rem;
  font-weight: 800;
  color: #3a2e23;
  margin: 20px;
  text-align: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.4);
  gap: 0.7rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 260px;
}

.search-box button {
  background-color: #4B3B2F;
  border: none;
  padding: 0.45rem 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.search-box button:hover {
  background-color: #6c5241;
}


.images-row {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.images-row img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transform: rotate(0deg);
  border-radius: 12px;
  transition: transform 0.3s;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2.5rem;
}



.categories div {
  display: flex;
  flex-direction: column;
  font-size: 23px;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  box-shadow: 1px 2px rgba(0,0,0,0.25);
  width: 180px;
  color: black;
  height: 120px;
  background: #f3e2cd;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.categories div img{
  width: 50px;
  height: 50px;
}

.categories div:hover {
  transform: translateY(-5px);
}


.categories p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #3c3027;
}
