
.login-page {
  height: 100vh;
  width: 100%;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  width: 500px;
  height: 350px;
  padding: 30px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.form-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}


.form-container label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: white;
}

.form-container input {
  width: 95%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  outline: none;
  background: rgb(218, 180, 180);
  transition: 0.3s;
}

.form-container input:focus {
  border-color: #4e9af1;
  box-shadow: 0 0 5px rgba(78, 154, 241, 0.6);
}


.btn {
  margin-top: 20px;
 
}


.login {
  background: rgb(227, 199, 163);
  color: brown;
  padding: 8px 10px;
  width: 100%;
  border:none;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  transition:all 0.5s ease;
}

.login:hover {
  transform: scale(1.01);
  background: rgb(204, 143, 63);
}
.google-btn {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  gap: 10px;
  background: rgb(227, 199, 163);
  color: brown;
  border: none;
}
p{
  margin-right: 20px;
  text-align: center;
  margin-top: 16px;
}
.creat{
  display: flex;
  justify-content: center;
  gap:10px;
}
.creat_account{
  margin-top: 17px;
  margin-left: 2px;
  text-decoration: none;
  color: rgb(9, 4, 65);
}

.google-btn:hover {
 background: rgb(204, 143, 63);
  transform: scale(1.02);
}

