
.register {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("/img5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form_container {
  overflow: hidden;
  width: 500px;
  max-height: 90vh;
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form_container input{
    width: 90vw;
}

.form_container input[type="email"]:focus,
.form_container input[type="password"]:focus ,
.form_container input[type="text"]:focus,
.form_container input[type="tel"]:focus
{
  border-color: #dfedfd;
  box-shadow: 0 0 5px rgba(78, 154, 241, 0.5);
}

.form_container label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: white;
}

.form_container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}.form_container input[type="email"],
.form_container input[type="text"],
.form_container input[type="tel"],
.form_container input[type="password"] {
  width: 93%;
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgb(218, 180, 180);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  padding: 13px;
}

.validate{
    width: 100%;
    text-decoration: none;
    background: burlywood;
    padding: 8px;
    border-radius: 12px;
    color: brown;
    font-family: sans-serif;
    transition: all 0.5s ease-in;
    margin: 10px; 
    border: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
.validate1{
  text-decoration: none;
  margin-top: 17px;
   color: rgb(9, 4, 65)
}

.btno{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.validate:hover{
    transform: scale(1.02);
    background: rgb(204, 143, 63);
}
.back{
  display: flex;
  justify-content: center;
}
