
.logo img{
    height: 50px ;
    width: 70px;
}

.logo{
    padding:0;
}


@media screen and (max-width: 768px) {
  .logo img {
    height: 40px; /* réduit légèrement la taille sur tablettes */
  }
}


