

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background-color: #DEB887;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}


.logo {
  font-size: 1.5rem;
}


.nav {
  display: flex;
  align-items: center;
  gap: 8rem; 
}

.nav-center {
  display: flex;
  gap: 2rem; 
}

.nav-center .nav-link {
  text-decoration: none; 
  color: #000000; 
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.nav-center .nav-link:hover {
  color: rgb(57, 48, 36); 
  transform: translateY(-2px);
}

.nav-right .login-link {
  text-decoration: none;
  color: #fff; /* texte blanc */
  background-color: rgb(199, 171, 134);  
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  border: .5px solid rgb(172, 143, 105);
  font-weight: 900;
  height: 100%;
  transition: background-color 0.6s;
}

.nav-right .login-link:hover {
  background-color: rgb(125, 102, 72); 
}


.nav-link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  padding: 10px;
  user-select: none;
}

.arrow {
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 100;
}

.dropdown-item {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

