.reserver {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  overflow: hidden;
  background-image: url("/img5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.reservation-container {
  width: 420px;
  margin: 80px auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.reservation-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: wheat;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.reservation-form label {
  margin-top: 10px;
  font-weight: 600;
  color: white;
}

.reservation-form input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-top: 5px;
  background: rgb(218, 180, 180);
  font-size: 14px;
  border: none;
  outline: none;
}

.reserve-btn {
  margin-top: 10px;
  padding: 12px;
  background: rgb(208, 155, 57);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}
.divbtn {
  display: flex;
  justify-content: center;
}

.reserve-btn:hover {
  background: rgb(221, 157, 38);
}

.success-message {
  text-align: center;
  padding: 20px;
}

.success-message h3 {
  color: green;
}

.success-message p {
  margin: 5px 0;
}

.success-message button {
  margin-top: 15px;
  padding: 10px 15px;
  background: #4a6cf7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
